/*[fmt]1A90-1A0B-3*/

/* START Header */

#home_top {
	height: 240px;
	overflow: hidden;
}

/* END Header */


/* START Main content */

#home_main {
	height: 410px;
	overflow: hidden;
}

#home_main section h1 {
	font-size: 1.4em;
	padding: 15px 0px 25px;
}

#site_desc p {
	padding: 0px 0px 25px;
	height: 162px;
	overflow: hidden;
}

#home_links ul {
	height: 140px;
	overflow: hidden;
}

#home_links ul li div {
	float: right;
	color: #FFFF00;
}

/* END Main content */

