/*[fmt]1A90-1A0B-3*/



nav ul li div {
	text-align: center;
}

nav ul li#headertime div {
	text-align: right;
}

nav #headersearch input[type=text], nav #headersearch input[type=text]:active {
	background: #000000;
	border: 0px solid #000000;
	height: 22px;
	font-family: perfect_dos;
	font-size: 1em;
	color: #FFFFFF;
}

header #headerintro {
	height: 170px;
	background: #0000FF;
	padding-top: 20px;
	margin: 20px 0;
	text-align: center;
	color: #FFFF00;
}

header #headersmall {
	height: 110px;
	background: #0000FF;
	padding-top: 20px;
	margin: 20px 0;
	text-align: center;
	color: #FFFF00;
}

header #headerintro>h1 {
	font-size: 4.4em;
	font-weight: bold;
	font-family: teletekst, sans-serif;
	text-shadow: 0px -12px #000000;
}




/* START Homepage */

#home_top {
	height: 240px;
	overflow: hidden;
}

#home_main {
	height: 410px;
	overflow: hidden;
}

#home_main section h1 {
	font-size: 1.4em;
	padding: 15px 0px 25px;
}

/* END Homepage */



/* START Main page */

#page_top {
	height: 180px;
	overflow: hidden;
}

#page_main {
	height: 470px;
	overflow: hidden;
}

/* END Main page */




footer h2 {
	color: #000000;
	font-size: 1.4em;
	text-align: center;
	padding: 3px 0;
	margin-bottom: 3px;
}

footer nav #red {
	color: #FF0000;
}

footer nav #green {
	color: #00FF00;
}

footer nav #yellow {
	color: #FFFF00;
}

footer nav #aqua {
	color: #00FFFF;
}

ul.list_red li {
	list-style-image: url(../images/list_item_red.gif);
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 0px 12px;
}

.yellow {
	color: #FFFF00;
}

#site_desc p {
	padding: 0px 0px 25px;
	height: 162px;
	overflow: hidden;
}

#footer_promo {
	height: 55px;
	background: #FFFF00;
}

#footer_promo h2 {
	padding-top: 9px;
}

#home_links ul {
	height: 140px;
	overflow: hidden;
}

#home_links ul li div {
	float: right;
	color: #FFFF00;
}

#page_top header #headerintro>h1 {
	font-size: 3.6em;
	padding: 6px 0px 0px;
	text-shadow: 0px -10px #000000;
}

#page_main section h1 {
	padding: 10px 0px 0px;
}

#page_main p {
	padding: 13px 0px;
}

#page_main #page_num {
	float: right;
}

